.fondo {
    background-image: url("https://imgs.search.brave.com/ARZKMQ9ov93R1DNQOtYoNcomu7hhkRFeF_PlBsmYC2k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9wZXJy/aXRvcy1xdWUtdGll/bmVuLXVuLWJhJUMz/JUIxby1kZWwtdmVy/YW5vLTc1OTAxMTUw/LmpwZw");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
}

.fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

h1,
p,
button {
    position: relative;
}

body {
    background-color: lightblue;

}

.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.glass {
    background: rgba(117, 243, 208, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);}

   
.glassNav{
background: rgba(117, 243, 208, 0.03);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}

    .macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}